* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(todo\ background.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
    backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.122);
  margin-top: 10%;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: black;
}

input {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  margin-left: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
    transform: scale(1.1);
    transition: 5ms;
  background-color: #0056b3;
}

ul {
  list-style: none;
  margin-top: 20px;
  text-align: left;
  padding-left: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button.delete {
  background-color: #dc3545;
  font-size: 12px;
  padding: 5px 10px;
}

li button.delete:hover {
  background-color: #b52a37;
}
